/********************************************************************************************
Global properties
********************************************************************************************/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Open+Sans:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    user-select: none;
}

.main-bg {
    background-image: url("../img/sections-bg/section-1(header).jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -5;
}

h1 {
    font-size: 32px;
    flex-grow: 1;
    line-height: 120px;
    text-align: start;
}

h2 {
    position: relative;
    font-size: 36px;
    font-weight: 400;
    text-transform: capitalize;
    padding: 0 0 80px 0;
}

h2::before,
h2::after {
    position: absolute;
    content: "";
    display: block;
    background-color: #18CFAB;
    height: 1px;
    width: 75px;
}

h2:before {
    left: calc(50% - 40px);
    top: 68px;
}

h2:after {
    left: calc(50% - 25px);
    top: 72px;
}

h3 {
    font-size: 40px;
    text-transform: uppercase;
}

h4 {
    font-size: 78px;
    text-transform: uppercase;
}

h5 {
    font-size: 35px;
    text-transform: capitalize;
}

h6 {
    font-size: 18px;
    text-transform: uppercase;
}

p {

}

.fc-white {
    color: #ffffff;
}

.fc-turq {
    color: #18CFAB;
}

.fc-darkgray {
    color: #4E4E4E;
}

.fc-gray {
    color: #717171;
}

.fc-litegray {
    color: #777777;
}

.bg-turq {
    background-color: #18CFAB;
}

.bg-blue {
    background-color: #00CBF6;
}

.bg-dark {
    background-color: #1C2A33;
}

.bg-darkgreen {
    background-color: #203E38;
}

.container {
    width: 1160px;
    /*width: 80%;*/
    margin: 0 auto;
    text-align: center;
}

.btn {
    width: 168px;
    height: 63px;
    border-radius: 5px;
    line-height: 63px;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
}

.btn-shadow {
    box-shadow: 0 -4px 0 #ffffff;
}

/********************************************************************************************
Header properties
********************************************************************************************/

header {
    background-color: rgba(94, 93, 88, 0.6);
    position: fixed;
    width: 100vw;
    z-index: 10;
}

header .container {
    display: flex;
    align-items: center;

}

h1 > span:first-child {
    margin: 0 0 0 6px;
    font-weight: 400;
}

header .container a {
    position: relative;
    display: inline-block;
    margin: 0 0 0 21px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.6);
}

header .container a:hover {
    color: #18CFAB;
}

header .container a:hover::after {
    position: absolute;
    content: "";
    display: block;
    top: 68px;
    background-color: #18CFAB;
    width: 100%;
    height: 2px;
}

/********************************************************************************************
#Home
********************************************************************************************/

#home {
    padding: 380px 0 0 0;
}

#home h5:nth-child(3) {
    font-weight: 400;
}

.home-btn-block {
    display: flex;
    gap: 26px;
    justify-content: center;
    margin: 130px 0 0 0;
}

/********************************************************************************************
#About
********************************************************************************************/

#about {
    display: flex;
    margin: 33vh 0 0 0;
    padding: 5px 0 0 0;
    background-color: #ffffff;
}

.about-container {
    display: grid;
    grid-template-rows: 50% 50%;
    width: 25vw;
    height: 33vh;
    text-align: center;
    justify-items: center;
    align-items: center;
}

.about-container img {
    margin: 20% 0 0 0;
}

.about-container p {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
}

/********************************************************************************************
#Service
********************************************************************************************/

.service-tabs {
    list-style: none;
    display: flex;
}

.service-tabs-title {
    position: relative;
    padding: 20px 0;
    background-color: #ffffff;
    cursor: pointer;
    border: 1px solid #F2F2F2;
    text-transform: capitalize;
    width: 16.66%;
    box-sizing: border-box;
}

.service-tabs-title:hover {
    padding: 19px 0;
    border: 2px solid #18CFAB;
}

.service-tabs-title.active {
    padding: 19px 0;
    border: 2px solid #18CFAB;
    background-color: #18CFAB;
    color: #ffffff;
}

.service-tabs-title.active::after {
    position: absolute;
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid #18CFAB;
    left: calc(50% - 6px);
    top: 59px;
}

.service-tabs-content div {
    display: none;
    margin: 20px 0 0 0;
}

.service-tabs-content > .active {
    display: flex;
    margin: 20px 0 0 0;
}

.service-tabs-content img {
    width: 200px;
    height: 140px;
}

.service-tabs-content p {
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    text-align: justify;
    margin: 0 0 0 15px;
}

/********************************************************************************************
#BG2
********************************************************************************************/

#bg2 {
    position: relative;
    height: 40vh;
    width: 100%;
}

.bg2-image {
    position: absolute;
    background: url("../img/sections-bg/section-2.jpg") no-repeat center;
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: -2;
}

.bg2-shadow {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
    width: 100%;
    z-index: -1;
}

#bg2 .container h3 {
    padding: 10vh 0 0 0;
}

#bg2 .container p {
    margin: 20px 0 0 0;
}

#bg2 .container .btn {
    margin: 70px auto;
}

/********************************************************************************************
#Work
********************************************************************************************/

#work {
    background-color: #E9EDEF;
}

.work-tabs {
    padding: 0 0 70px 0;
    list-style: none;
    display: flex;
    margin: 0 auto;
    width: 60%;
}

.work-tabs-title {
    padding: 20px 0;
    background-color: rgba(0, 0, 0, 0.0001);
    cursor: pointer;
    border: 1px solid #DADADA;
    text-transform: capitalize;
    flex-grow: 1;
    box-sizing: border-box;
    font-size: 14px;
}

.work-tabs-title.active {
    padding: 19px 0;
    border: 2px solid #18CFAB;
}

.work-tabs-title:hover {
    padding: 19px 0;
    border: 2px solid #18CFAB;
}

.work-images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#work .btn {
    margin: 90px auto 0;
}

.work-images-wrapper {
    position: relative;
    width: 100%;
    height: 16.66vh;
}

.work-images-item {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    transition: transform 350ms ease-in-out;
    transition-delay: 100ms;
    backface-visibility: hidden;
}

.work-images-wrapper:hover .work-images-item {
    transform: rotateY(180deg);
}

.work-images-flip-card {
    box-sizing: border-box;
    border-top: 6px solid #18CFAB;
    background-color: white;
    transform: rotateY(-180deg);
    transition: transform 350ms ease-in-out;
    transition-delay: 150ms;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
}

.work-images-flip-card img {
    padding: 15% 0 0 0;
}

.work-images-flip-card p:nth-child(2) {
    padding: 10% 0 0 0;
    text-transform: uppercase;
    font-weight: 700;
}

.work-images-flip-card p:nth-child(3) {
    padding: 2% 0 0 0;
    text-transform: capitalize;
    font-size: 12px;
    font-weight: 300;
    color: #8A8A8A;
}

.work-images-wrapper:hover .work-images-flip-card {
    transform: rotateY(0deg);
    transition: transform 350ms ease-in-out;
    transition-delay: 150ms;
}

/********************************************************************************************
#Blog
********************************************************************************************/

.blog-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 35px;
    grid-row-gap: 45px;
}

.blog-element-wrapper h6,
.blog-element-wrapper p {
    text-align: left;
    margin: 15px 0 0 10px;
}

.blog-img-wrapper {
    position: relative;
    width: 100%;
    height: 16vh;
}

.blog-img-wrapper img {
    width: 100%;
    height: 100%;
}

.blog-img-wrapper span {
    position: absolute;
    display: block;
    box-sizing: border-box;
    width: 70px;
    height: 70px;
    top: 0;
    right: 0;
    padding: 15px;
}

.blog-element-wrapper:hover h6 {
    color: #18CFAB;
    transition: color 300ms ease-in-out;
}

.blog-element-wrapper:hover span {
    background-color: #18CFAB;
    transition: background-color 300ms ease-in-out;
}

/********************************************************************************************
#Testimonial
********************************************************************************************/

#testimonial {
    position: relative;
    /*height: 80vh;*/
    min-height: max-content;
    width: 100%;
}

#testimonial .container {
    padding: 2% 0 0 0;
    margin: 0 auto;
}

.testimonial-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("../img/sections-bg/section-3.jpg") no-repeat center;
    background-size: cover;
    height: inherit;
    width: inherit;
    z-index: -1;
}

.testimonial-quotes-wrapper {
    background-image: url("../img/quotes.png");
    background-repeat: no-repeat;
    width: 47px;
    height: 33px;
    margin: 0 auto;
}

.testimonial-slider {
    position: relative;
    overflow: hidden;
    padding: 35px 0 0 0;
    width: 100%;
    height: 400px;
}

.testimonial-slider-container {
    position: absolute;
    top: 0;
    /*move using left*/
    left: -1160px;
    right: 0;
    bottom: 0;
    display: flex;
    justify-items: center;
    width: max-content;
    margin: 20px 0 0 0;
}

.move-left {
    left: 0;
    transition: all 1s ease-in-out;
}

.move-right {
    left: -2320px;
    transition: all 1s ease-in-out;
}

.testimonial-slide-wrapper {
    width: 1160px;
}

.testimonial-slide-wrapper p {
    color: #BBBBBB;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
}

.testimonial-slide-wrapper h6 {
    font-size: 16px;
    line-height: 27px;
    margin: 35px 0 0 0;
}

.testimonial-slide-wrapper span {
    display: block;
    color: #BBBBBB;
    font-size: 13px;
    font-weight: 300;
    line-height: 27px;
    margin: 10px 0 0 0;
}

.testimonial-slide-wrapper img {
    width: 150px;
    height: 150px;
    border: 12px solid rgba(31, 218, 181, 0.2);
    border-radius: 50%;
    margin: 10px 0 0 0;
}

.testimonial-slider-nav {
    display: flex;
    width: 45%;
    height: max-content;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 2% 0;
}

.testimonial-slider-nav span {
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid #BBBBBB;
    margin: 15px 0 0 0;
}

.testimonial-slider-nav span:nth-child(1) {
    background: url("../img/left-arrow.svg") no-repeat center;
}

.testimonial-slider-nav span:nth-child(6) {
    background: url("../img/right-arrow.svg") no-repeat center;
}

.testimonial-slider-nav span:hover {
    background-color: #18CFAB;
    border: 1px solid #18CFAB;
    transition: all 300ms;
}

.testimonial-slider-nav img {
    margin: 20px 5px 0 5px;
    width: 60px;
    height: 60px;
    border: 5px solid rgba(31, 218, 181, 0.2);
    border-radius: 50%;
    transition: margin 500ms ease-in-out;
}

.testimonial-slider-nav img.active {
    margin: 0 5px 20px 5px;
    transition: all 1000ms ease-in-out;
}

.testimonial-slider-nav img.hidden {
    margin: 20px 5px 0 5px;
    transition: all 500ms ease-in-out;
}

/********************************************************************************************
#Skills
********************************************************************************************/

.wide-white-container {
    background-color: #ffffff;
    padding: 95px 0;
    width: 100%;
}

.grid-item {
    box-sizing: border-box;
    float: left;
    width: 63px;
    height: 92px;
    margin: 0 0 20px 0;
    padding: 0;
}

.grid-item img {
    object-fit: cover;
    width: inherit;
    height: inherit;

}

.grid-item--width2 { width: 126px; }
.grid-item--width3 { width: 189px; }
.grid-item--width4 { width: 378px; }

.grid-item--height2 { height: 168px; }
.grid-item--height3 { height: 263px; }
.grid-item--height4 { height: 380px; }

#skills .btn {
    margin: 90px auto 0;
}

/********************************************************************************************
Footer properties
********************************************************************************************/

footer {
    background-color: #22353F;
    text-align: center;
    width: 100%;
}

footer p {
    font-size: 14px;
    font-weight: 300;
    line-height: 120px;
}
